In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/brianyoo/Instacart Basket Analysis'

In [3]:
ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_updated.pkl'))

In [ ]:
# 2

In [4]:
ords_prods_merged.groupby('department_id').agg({'order_number' : ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

In [ ]:
# 3
By using entire data frame, I can get addtional information besied information from department_id and max_order.
However,this data frame does not provide specific statistical information, such as each department_id's mean.

In [ ]:
# 4

In [5]:
ords_prods_merged['max_order'] = ords_prods_merged .groupby(['user_id'])['order_number'].transform(np.max)

In [7]:
pd.options.display.max_columns = None

In [8]:
ords_prods_merged.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,order_number,order_date_of_week,order_hour_of_day,days_since_prior_order,new_customer,add_to_cart_order,reordered,_merge,busiest day,busiest days,time_periods_orders,busiest_period_of_day,max_order
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,28,6,11,3.0,False,5,0,both,Regularly day,Regularly days,Most orders,Most orders,32
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,30,6,17,20.0,False,1,1,both,Regularly day,Regularly days,Average orders,Average orders,32
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,2,0,21,6.0,False,20,0,both,Busiest day,Busiest days,Average orders,Average orders,5
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,1,3,13,NaN,True,10,0,both,Regularly day,Slowest days,Most orders,Most orders,3
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,3,4,17,9.0,False,11,1,both,Least day,Slowest days,Average orders,Average orders,3

In [ ]:
# 5
Among 3 types of customers, Loyal customers' mean was the lowest

In [9]:
ords_prods_merged.loc[ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [10]:
ords_prods_merged.loc[(ords_prods_merged['max_order'] > 10) & (ords_prods_merged['max_order'] <= 40), 'loyalty_flag'] = 'Regular customer'

In [11]:
ords_prods_merged.loc[ords_prods_merged['max_order'] < 10, 'loyalty_flag'] = 'New customer'

In [12]:
ords_prods_merged['loyalty_flag'].value_counts()

Regular customer    15876776
Loyal customer      10284093
New customer         5470866
Name: loyalty_flag, dtype: int64

In [14]:
ords_prods_merged.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,order_number,order_date_of_week,order_hour_of_day,days_since_prior_order,new_customer,add_to_cart_order,reordered,_merge,busiest day,busiest days,time_periods_orders,busiest_period_of_day,max_order,loyalty_flag
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,28,6,11,3.0,False,5,0,both,Regularly day,Regularly days,Most orders,Most orders,32,Regular customer
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,30,6,17,20.0,False,1,1,both,Regularly day,Regularly days,Average orders,Average orders,32,Regular customer
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,2,0,21,6.0,False,20,0,both,Busiest day,Busiest days,Average orders,Average orders,5,New customer
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,1,3,13,NaN,True,10,0,both,Regularly day,Slowest days,Most orders,Most orders,3,New customer
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,3,4,17,9.0,False,11,1,both,Least day,Slowest days,Average orders,Average orders,3,New customer

In [13]:
ords_prods_merged.shape

(32404859, 24)

In [15]:
ords_prods_merged.groupby('loyalty_flag').agg({'prices' : ['mean']})

                     prices
                       mean
loyalty_flag
Loyal customer    10.386336
New customer      13.208375
Regular customer  12.495717

In [ ]:
# 6

In [17]:
ords_prods_merged['mean_order'] = ords_prods_merged.groupby(['user_id'])['prices'].transform(np.mean)

In [18]:
ords_prods_merged.shape

(32404859, 25)

In [19]:
ords_prods_merged.loc[ords_prods_merged['mean_order'] >= 10, 'High_Low'] = 'High spender'

In [21]:
ords_prods_merged.loc[ords_prods_merged['mean_order'] < 10, 'High_Low'] = 'Low spender'

In [22]:
ords_prods_merged.shape

(32404859, 26)

In [25]:
ords_prods_merged['High_Low'].value_counts()

Low spender     31770614
High spender      634245
Name: High_Low, dtype: int64

In [34]:
ords_prods_merged[['user_id', 'mean_order', 'High_Low']].head(100)

    user_id  mean_order     High_Low
0       138    6.935811  Low spender
1       138    6.935811  Low spender
2       709    7.930208  Low spender
3       764    4.972414  Low spender
4       764    4.972414  Low spender
..      ...         ...          ...
95    10831    7.494286  Low spender
96    11119    5.878641  Low spender
97    11186    6.618085  Low spender
98    11243    5.927149  Low spender
99    11448    5.981250  Low spender

[100 rows x 3 columns]

In [ ]:
# 7

In [26]:
ords_prods_merged['median_order'] = ords_prods_merged.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [28]:
ords_prods_merged.shape

(32404859, 27)

In [29]:
ords_prods_merged.loc[ords_prods_merged['days_since_prior_order'] > 20, 'customer_frequency'] = 'Non-frequent customer'

In [30]:
ords_prods_merged.loc[(ords_prods_merged['days_since_prior_order'] > 10) & (ords_prods_merged['days_since_prior_order'] <= 20), 'customer_frequency'] = 'Regular customer'

In [31]:
ords_prods_merged.loc[ords_prods_merged['days_since_prior_order'] <= 10, 'customer_frequency'] = 'Frequent customer'

In [32]:
ords_prods_merged.shape

(32404859, 28)

In [33]:
ords_prods_merged['customer_frequency'].value_counts()

Frequent customer        19042466
Regular customer          6055803
Non-frequent customer     5230494
Name: customer_frequency, dtype: int64

In [35]:
ords_prods_merged[['user_id', 'median_order', 'customer_frequency']].head(100)

    user_id  median_order     customer_frequency
0       138           8.0      Frequent customer
1       138           8.0       Regular customer
2       709           8.0      Frequent customer
3       764           9.0                    NaN
4       764           9.0      Frequent customer
..      ...           ...                    ...
95    10831          23.0  Non-frequent customer
96    11119          13.0  Non-frequent customer
97    11186           6.0      Frequent customer
98    11243           6.0      Frequent customer
99    11448          14.0      Frequent customer

[100 rows x 3 columns]

In [ ]:
# 9

In [36]:
ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_user_flags.pkl'))