# Libraries Import

In [1]:
import pandas as pd
import numpy as np
import os

# Task, Data Frame Import

In [ ]:
#3

In [2]:
path = r'/Users/brianyoo/Instacart Basket Analysis'

In [11]:
df_merge_large = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [12]:
df_merge_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,order_date_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [ ]:
# Becaue of the "Unnamed : 0.1" and "Unnamed : 0", columns' total number is 13. However, I decided to proceed with 13
#columns because those columns do not affect Task 4.6's result

In [ ]:
#4

In [13]:
df_merge_large.shape

(32434489, 13)

In [ ]:
#5

In [14]:
df_prods_clean = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_clean.csv'))

In [15]:
df_prods_clean.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [24]:
df_prods_clean.shape

(49672, 6)

In [18]:
df_merge_large = df_merge_large.drop(columns = ['_merge'])

In [23]:
df_merge_large.shape

(32434489, 12)

In [28]:
df_ords_prods_merge = df_prods_clean.merge(df_merge_large, on = 'product_id', indicator = True)

In [ ]:
#6

In [29]:
df_ords_prods_merge.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,order_number,order_date_of_week,order_hour_of_day,days_since_prior_order,new_customer,add_to_cart_order,reordered,_merge
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,28,6,11,3.0,False,5,0,both
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,30,6,17,20.0,False,1,1,both
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,2,0,21,6.0,False,20,0,both
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,1,3,13,NaN,True,10,0,both
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,3,4,17,9.0,False,11,1,both

In [30]:
df_ords_prods_merge.shape

(32404859, 18)

In [31]:
df_ords_prods_merge['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [27]:
#7

In [33]:
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))